* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/configure.in -text
doc/Makefile.am -text
/robodoc.rc -text
src/Makefile.am -text
src/bashlyk -text
src/bashlyk.conf -text
src/libcnf.sh -text
src/liblog.sh -text
src/libmd5.sh -text
src/libopt.sh -text
src/libpid.sh -text
src/libppp.sh -text
src/libxml.sh -text
