* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
doc/Makefile.am -text
doc/bashlyk1.xml -text
doc/bashlyk7.xml -text
/robodoc.rc -text
src/Makefile.am -text
src/awk.ini -text
src/bashlyk -text
src/bashlyk.conf -text
src/debian/control -text
src/debian/copyright -text
src/debian/postinst -text
src/debian/prerm -text
src/ini.awk -text
src/ini2csv.awk -text
src/ini2csv.sh -text
src/inisection2csv.awk -text
src/libcnf.sh -text
src/libini.sh -text
src/libiniX.sh -text
src/liblog.sh -text
src/libopt.sh -text
src/libpid.sh -text
src/libppp.sh -text
src/libstd.sh -text
src/testunit.sh -text
