* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
doc/Makefile.am -text
/robodoc.rc -text
src/Makefile.am -text
src/bashlyk -text
src/bashlyk.conf -text
src/debian/control -text
src/libcnf.sh -text
src/libini.sh -text
src/liblog.sh -text
src/libmd5.sh -text
src/libopt.sh -text
src/libpid.sh -text
src/libppp.sh -text
src/libstd.sh -text
src/libxml.sh -text
src/testcnf.sh -text
src/testini.sh -text
src/testlog.sh -text
src/testmd5.sh -text
src/testopt.sh -text
src/testpid.sh -text
src/teststd.sh -text
src/testxml.sh -text
