#!/usr/bin/make -f
# -*- makefile -*-

#
# $Id: rules 916 2019-03-25 10:11:09+04:00 yds $
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

clean-local:
	rm -f config.log config.status

