Package: bashlyk
Version: 1.5-1
Section: optional
Priority: extra
Architecture: all
Depends: bash, bsdutils, coreutils, grep, procps, mailx, sed
Installed-Size: 72
Maintainer: Damir Yakupov (YDS) <yds@ivk.udm.net>
Description: Function Library for BASH command language interpreter
 This package includes various function for simplest create service script.

