Package: bashlyk
Version: 1.26-1
Section: optional
Priority: extra
Architecture: all
Depends: bash, bsdutils, coreutils, grep, procps, mailx, sed, mktemp
Installed-Size: 88
Maintainer: Damir Yakupov (YDS) <yds@bk.ru>
Description: Function Library for BASH command language interpreter
 This package includes various function for simplest create service script.

